@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

//colors
$primary: #9356DC; 
$secondary: #FF79DA; 
$tertiary: #99E2D0;
$lighter-grey: #F3F2F2; 
$dark-grey: #656366;
$purple-grey: #F9EFF9;

//angle pour le gradient
$button-degree: 163deg;
$icon-degree: 3deg;

@mixin display-flex-direction($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin element-centered($direction) {
    @include display-flex-direction($direction);
    justify-content: center;
    align-items: center;
}

@mixin text-font-family {
    font-family: 'Roboto', sans-serif;
}

@mixin font-bold {
    font-weight: bold;
}

@mixin h2-size {
    font-size: 24px;
    @include font-bold;
}

@mixin p-size {
    font-size: 18px;
    font-weight: 400;
}

@mixin  gradient($degree) {
    background: linear-gradient($degree, $secondary 0%, $primary 100%);
}

@mixin button($button-degree) {
    @include p-size;
    @include gradient($button-degree);
    @include border-radius(30px);
    border: none;
    color: white;
    padding: 20px;
    font-weight: 400;
    box-shadow: 0px 6px 14px 0px #0000003d;
}

@mixin gradient-btn-hover {
    background: linear-gradient($button-degree, lighten($secondary, 5%) 0%, lighten($primary, 5%) 100%);
    box-shadow: 0 6px 14px 0 gray;
}

@mixin gradient-heart($icon-degree) {
    @include gradient($icon-degree);
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin new-tag($radius) {
    background-color: $tertiary;
    color: #24a081;
    @include border-radius($radius);
}

* {
    box-sizing: border-box;
}

body {
    @include text-font-family;
    margin: 0;
}

header {
    @include element-centered(row);
    width: 100%;
    padding: 20px 0 10px;
    position: relative;

    .header__icon_container {
        position: absolute;
        left: 20px;

        i {
            font-size: 24px;
            color: black;
        }
    }

    .logo {
        width: 50%;
        height: 50%;
    }
}

.location_container {
    @include element-centered(column);
    text-align: center;
    row-gap: 20px;
    padding: 0 0 60px 0;
    background-color: $lighter-grey;

    &__city {
        @include element-centered(row);
        column-gap: 10px;
        width: 100%;
        background-color: lightgray;
        box-shadow: inset 0px 2px 2px 0px #0000003d;
    }

    &__title {
        @include h2-size;
        width: 60%;
        margin: 0;
    }

    &__subtitle {
        @include p-size;
        width: 80%;
        margin: 0;
    }

    &__btn {
        @include button($button-degree);

        &:hover {
            @include gradient-btn-hover;
        }
    }
}

.functioning_container__title {
    @include h2-size;
}

.functioning_container__list {
    @include element-centered(column);
    gap: 20px;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 20px;

    &__item {
        @include element-centered(row);
        @include font-bold;
        @include border-radius(15px);
        gap: 20px;
        font-size: 18px;
        padding: 20px 40px 20px 0;
        background-color: $lighter-grey;
        width: 100%;
        box-shadow: 0px 6px 7px 0px #DBDBDB;
        position: relative;
        vertical-align: middle;
        user-select: none;

        &:hover {
            background-color: $purple-grey;
    
            .functioning_container__list__item__icon {
                color: $primary;
            }
        }

        &__order {
            @include element-centered(row);
            @include border-radius(50%);
            width: 25px;
            height: 25px;
            color: white;
            background-color: $primary;
            vertical-align: middle;
            position: absolute;
            left: -10px;
            margin: 5px 0;
        }

        &__icon {
            color: $dark-grey;
            width: 18px;
            height: 18px;
            font-size: 18px;
        }
    }
}

.restaurant_container {
    @include display-flex-direction(column);
    justify-content: space-between;
    background-color: $lighter-grey;
    padding: 50px 20px;
    height: 100%;

    a {
        height: 15%;
        text-decoration: none;
    }

    &__title {
        @include h2-size;
        margin-bottom: 0;
    }

    &__card {
        height: 15%;
        width: 100%;
        margin: 20px 0;
        
        &__img_container {
            width: 100%;
            height: 200px;
            position: relative;
        }

        &__img__new_tag {
            @include element-centered(row);
            @include new-tag(5px);
            @include p-size;
            width: 100px;
            padding: 10px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
        }
    }
}

.restaurant_container__card {
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    &__description {
        @include display-flex-direction(row);
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 15px 15px;
        width: 100%;
        background-color: white;
        padding: 15px;
    }

    &__text {
        @include display-flex-direction(column);
        row-gap: 5px;
        color: black;
    }

    &__title {
        @include font-bold;
        font-size: 18px;
        margin: 0;
    }

    &__subtitle {
        @include p-size;
        margin: 0;
    }

    &__icon {
        i {
            font-size: 18px;
        }
    
        .restaurant_container__card__icon--filled-heart {
            display: none;
            color: black;
        }
    
        .restaurant_container__card__icon--empty-heart {
            color: black;
        }
        
        &:hover {
    
            .restaurant_container__card__icon--empty-heart {
                display: none;
            }
        
            .restaurant_container__card__icon--filled-heart {
                @include gradient-heart($icon-degree);
            }
        } 
    }
}

// style des menus
.restaurant_container {
    .restaurant__img_wrapper {
        height: 250px;
        width: 100%;

        .restaurant__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .restaurant_menu_container {
        width: 100%;
        padding: 20px;
        border-radius: 50px 50px 0 0;
        background-color: $lighter-grey;

        .restaurant_menu__header {
            @include display-flex-direction(row);
            align-items: center;
            justify-content: space-between;
            

            &__title {

                h2 {
                    @include h2-size;
                    font-family: 'Shrikhand', cursive;
                }
            }

            &__icon {
                i {
                    font-size: 18px;
                }

                .restaurant_menu__header__icon--filled-heart {
                    display: none;
                }
    
                &:hover {
                    .restaurant_menu__header__icon--empty-heart {
                        display: none;
                    }

                    .restaurant_menu__header__icon--filled-heart {
                        @include gradient-heart($icon-degree);
                    }
                }
            }
        }

        .restaurant_menu__entry, .restaurant_menu__dish, .restaurant_menu__dessert {
            &__article_list {
                @include display-flex-direction(column);
                row-gap: 10px;

                article {
                    @include display-flex-direction(row);
                    @include border-radius(15px);
                    align-items: center;
                    justify-content: space-between;
                    padding: 8px;
                    background-color: white;

                    .article__title {
                        @include display-flex-direction(column);
                        width: 100%;

                        h4 {
                            font-size: 18px;
                            margin: 0;
                        }

                        .article__subtitle {
                            @include display-flex-direction(row);
                            justify-content: space-between;

                            p {
                                margin: 0;
                            }

                            .article__price {
                                @include font-bold;
                            }
                        }
                    }
                }
            }
        }

        section {
            h3 {
                @include p-size;
                text-transform: uppercase;
                width: 45px;
                padding: 0 0 3px 0;
                border-bottom: $tertiary 3px solid;
            }
        }
    }

    .restaurant__button {
        @include button($button-degree);
        padding: 15px 40px;
        margin: 30px 0;

        &:hover {
            @include gradient-btn-hover;
        }
    }
}

.container {
    &--small-padding {
        padding: 10px;
    }

    &--centered {
        @include element-centered(column);
    }

    &--no-padding {
        padding: 0;
    }
}

.footer {
    background-color: #535254;
    padding: 10px 20px;

    &__img--white {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(105%) contrast(101%);
        height: 22px;
        margin: 10px 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        @include display-flex-direction(column);
        row-gap: 10px;

        &__item {
            @include p-size;
            color: white;
        
            a {
                @extend .footer__list__item;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {

}