@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 10px;
}

.container--small-padding {
  padding: 10px;
}

.logo {
  width: 50%;
  height: 50%;
}

.location_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 20px;
  padding: 0 0 60px 0;
  background-color: #F3F2F2;
}
.location_container__city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  background-color: lightgray;
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2392156863);
}
.location_container__title {
  font-size: 24px;
  font-weight: bold;
  width: 60%;
  margin: 0;
}
.location_container__subtitle {
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  margin: 0;
}
.location_container__btn {
  font-size: 18px;
  font-weight: 400;
  background: linear-gradient(163deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 30px;
  border: none;
  color: white;
  padding: 20px;
  font-weight: 400;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2392156863);
}
.location_container__btn:hover {
  background: linear-gradient(163deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 0 6px 14px 0 gray;
}

.functioning_container__title {
  font-size: 24px;
  font-weight: bold;
}

.functioning_container__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 20px;
}
.functioning_container__list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 15px;
  gap: 20px;
  font-size: 18px;
  padding: 20px 40px 20px 0;
  background-color: #F3F2F2;
  width: 100%;
  box-shadow: 0px 6px 7px 0px #DBDBDB;
  position: relative;
  vertical-align: middle;
}
.functioning_container__list__item:hover {
  background-color: #F9EFF9;
}
.functioning_container__list__item:hover .functioning_container__list__item__icon {
  color: #9356DC;
}
.functioning_container__list__item__order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #9356DC;
  vertical-align: middle;
  position: absolute;
  left: -20px;
  margin: 5px 0;
}
.functioning_container__list__item__icon {
  color: #656366;
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.restaurant_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F2F2;
  padding: 50px 20px;
  height: 100%;
}
.restaurant_container a {
  height: 15%;
  text-decoration: none;
}
.restaurant_container__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}
.restaurant_container__card {
  height: 15%;
  width: 100%;
  margin: 20px 0;
}
.restaurant_container__card__img_container {
  width: 100%;
  height: 200px;
  position: relative;
}
.restaurant_container__card__img__new_tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #24a081;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.restaurant_container__card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant_container__card__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  width: 100%;
  background-color: white;
  padding: 15px;
}
.restaurant_container__card__text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: black;
}
.restaurant_container__card__title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.restaurant_container__card__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.restaurant_container__card__icon svg {
  font-size: 25px;
}
.restaurant_container__card__icon .restaurant_container__card__icon--filled-heart {
  display: none;
}
.restaurant_container__card__icon:hover .restaurant_container__card__icon--empty-heart {
  display: none;
}
.restaurant_container__card__icon:hover .restaurant_container__card__icon--filled-heart {
  display: inline-block;
  fill: url(#heart-gradient);
  cursor: pointer;
}

.footer {
  background-color: #535254;
  padding: 10px 20px;
}
.footer__img--white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(105%) contrast(101%);
  height: 22px;
  margin: 10px 0;
}
.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__list__item, .footer__list__item a {
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.footer__list__item a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */